<%- include("partials/header") %>

<div class="mx-auto mt-5" style="width: 30%;">
    <h2 style="text-align:center">New Campground:</h2>
    <form action="/campgrounds" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="image" placeholder="URL">
        </div>
        <button class="btn btn-md btn-primary btn-block">Submit</button>


    </form>
<a href="/campgrounds">Go back</a>
</div>


<%- include("partials/footer") %>
